# Dependencies
**/node_modules/

# Build output
**/dist/
**/.next/
**/build/

# Environment files
**/.env
**/.env.*
!**/.env.example

# Logs
*.log
npm-debug.log*

node_modules/
frontend/node_modules/
backend/node_modules/
.next/
frontend/.next/